<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
		<script src="../jquery-3.3.1.min.js"></script>
		<script src="../js/main.js"></script>
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">


						<h2>Example Multiple Choice Questions</h2>
						<p>Directions: Answer questions below and click submit</p>

						<form>
					<% questions.forEach(function(question){ %>

							<div class="question">
								<h4> <%= question.question %></h4>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="multipleChoiceQuestion1" value="A" checked>
										<%= question.option_A  %>>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="multipleChoiceQuestion1" value="B">
										<%= question.option_B  %>>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="multipleChoiceQuestion1" value="C">
										<%= question.option_C  %>>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="multipleChoiceQuestion1" value="D">
											<%= question.option_D  %>>
									</label>
								</div>
							</div>


							<% }); %>
							<div class="text-right">
								<input class="btn btn-primary" type="submit" value="Submit">
							</div>

							<div class="text-left">
								<input class="btn btn-danger" type="delete" value="Delete">
							</div>

						</form>





			</div>
		</div>
	</body>
</html>
