<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
	</head>

	<body class="interface">
		

    <% include ./header %>




    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>
			<div id="main-content-area">
				<div class="container">
			<h1>Select the Correct Multiple choice option and then when completed click submit</h1>
			
			<form action="/ExamMC" method="POST">
				<div class="question">
			<h4><%=Q1%></h4>
			
			<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="A1" value="A" checked>
										<%= A1 %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="B1" value="B">
										<%= B1  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="C1" value="C">
										<%= C1  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="D1" value="D">
											<%= D1  %>
									</label>
								</div>
							</div>
								<h4><%=Q2%></h4>
			<div class="question">
			<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="A2" value="A" checked>
										<%= A2 %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="B2" value="B">
										<%= B2  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="C2" value="C">
										<%= C2  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="D2" value="D">
											<%= D2  %>
									</label>
								</div>
							</div>
								<h4><%=Q3%></h4>
			<div class="question">
			<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="A3" value="A" checked>
										<%= A3 %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="B3" value="B">
										<%= B3  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="C3" value="C">
										<%= C3  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="D3" value="D">
											<%= D3  %>
									</label>
								</div>
							</div>
								<h4><%=Q4%></h4>
			<div class="question">
			<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="A4" value="A" checked>
										<%= A4 %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="B4" value="B">
										<%= B4  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="C4" value="C">
										<%= C4  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="D4" value="D">
											<%= D4  %>
									</label>
								</div>
							</div>
								<h4><%=Q5%></h4>
			<div class="question">
			<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="A5" value="A" checked>
										<%= A5 %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="B5" value="B">
										<%= B5  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="C5" value="C">
										<%= C5  %>
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="D5" value="D">
											<%= D5  %>
									</label>
								</div>
								<input class="btn btn-primary" type="submit" value="Submit">
							</div>
						</form>
			</div>
		</div>
	</body>
</html>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		