<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
	</head>

	<body class="interface">
    <% include ./header %>

		<div class="wrapper">
			<% include ./sidebar %>

			<div id="main-content-area">
				<div class="container">
						<h2>Example Multiple Choice Questions</h2>
						<p>Directions: Answer questions below and click submit</p>

						<form action="/submitQuestion" method="POST">
					<% for (i=0; i<questions.length; i++) { %>

							<div class="question">
								<h4> <%= questions[i].question %></h4>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1A" name="multipleChoiceQuestion<%= i+1 %>" value="A" checked>
										<%= questions[i].option_A  %>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1B" name="multipleChoiceQuestion<%= i+1 %>" value="B">
										<%= questions[i].option_B  %>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1C" name="multipleChoiceQuestion<%= i+1 %>" value="C">
										<%= questions[i].option_C  %>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input type="radio" id="option1D" name="multipleChoiceQuestion<%= i+1 %>" value="D">
											<%= questions[i].option_D  %>
									</label>
								</div>

								<input type="submit" class="btn btn-primary" value="Delete">
							</div>

							<% } %>
							<div class="text-right">
								<input class="btn btn-primary" type="submit" value="Submit">
							</div>

							<div class="text-left">
								<input class="btn btn-danger" type="delete" value="Delete">
							</div>

						</form>




			</div>
		</div>
	</body>
</html>
